.about__data {
    text-align: center;
}

.about__container {
    row-gap: 2.5rem;
}

.about__description {
    margin-bottom: var(--mb-2);
}

.about__img {
    display: flex;
    column-gap: 1rem;
    align-items: center;
    justify-content: center;
}

.about__img-overlay {
    overflow: var(--img-hidden);
}

.about__img-one {
    width: 130px;
}

.about__img-two {
    width: 180px;
}

.about__img-one, 
.about__img-two {
    transition: var(--img-transition);
}

.about__img-one:hover, 
.about__img-two:hover {
transform: var(--img-scale);
}
