.experience__container {
    row-gap: 2.5rem;
    justify-content: center;
    justify-items: center;
}

.experience__content {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1rem;
    justify-items: center;
    padding: 0 2rem;
}

.experience__number {
    font-size: var(--h2-font-size);
    font-weight: var(--font-semi-bold);
    margin-bottom: var(--mb-0-5);
}

.experience__description {
    font-size: var(--small-font-size);
}

.experience__img {
    position: relative;
    padding-bottom: 2rem;
}

.experience__img-one, 
.experience__img-two {
    transition: var(--img-transition);
}

.experience__img-one:hover, 
.experience__img-two:hover {
    transform: var(--img-scale);
}

.experience__overlay {
    overflow: var(--img-hidden);
}

.experience__overlay:nth-child(1) {
    width: 263px;
    margin-right: 2rem;
}

.experience__overlay:nth-child(2) {
    width: 120px;
    position: absolute;
    top: 2rem;
    right: 0;
}