/*=== header ===*/
.header {
    background-color: transparent;   
    left: 0;
    position: relative;
    top: 0;
    width: 100%;
    z-index: var(--z-fixed);
}

.scroll-head .nav__logo,
.scroll-head .nav__toggle {
    color: var(--title-color);
}

.active-link {
   position: relative;
   color: var(--title-color); 
}

.active-link::before {
    content: '';
    position: absolute;
    background-color: var(--title-color);
    width: 100%;
    height: 2px;
    bottom: -.75rem;
    left: 0;
}

/*=== nav ===*/
.nav {
    align-items: center;
    display: flex;
    height: var(--header-height);
    justify-content: space-between;
}

.nav__logo,
.nav__toggle {
    color: var(--white-color);
}

.nav__logo {
    font-weight: var(--font-semi-bold);
}

.nav__toggle {
    font-size: 1.2rem;
    cursor: pointer;
}

.nav__menu {
    position: relative;
}

@media screen and (max-width: 767px) {
    .nav__menu {
        background-color: var(--body-color);
        box-shadow: -1px 0 4px hsl(var(--hue-color), 64%, 15%, .15);
        height: 100%;
        padding: 3rem;
        position: fixed;
        right: -100%;
        top: 0;
        transition: .4s;
        width: 70%;
    }
}

.nav__list {
    display: flex;
    flex-direction: column;
    row-gap: 2.5rem;
}

.nav__link {
    color: var(--text-color);
    font-weight: var(--font-semi-bold);
    text-transform: uppercase;
}

.nav__link :hover {
    color: var(--title-color);
}

.nav__close {
    color: var(--title-color);
    cursor: pointer;
    font-size: 1.5rem;
    position: absolute;
    right: 1rem;
    top: .75rem;
}

.show-menu {
    right: 0;
}

.scroll-header {
    background-color: var(--body-color);
    box-shadow: 0 0 4px hsla(var(--hue-color), 64%, 15%, .15);
}

.scroll-header .nav__logo,
.scroll-header .nav__toggle {
    color: var(--title-color);
}