.home__img {
    height: 100%;
    left: 0;
    object-fit: cover;
    object-position: 83%;
    position: absolute;
    top: 0;
    width: 100%;
}

.home__container {
    align-content: center;
    height: calc(100vh - var(--header-height));
    position: relative;
    row-gap: 3rem;
}

.home__data-subtitle,
.home__data-title,
.home__social-link,
.home__info {
    color: var(--white-color);
}

.home__data-subtitle {
    display: block;
    font-weight: var(--font-semi-bold);
    margin-bottom: var(--mb-0-75);
}

.home__data-title {
    font-size: var(--biggest-font-size);
    font-weight: var(--font-medium);
    margin-bottom: var(--mb-2-5);
}

.home__social {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
}

.home__social-link {
    font-size: 1.2rem;
    width: max-content;
}

.home__info {
    align-items: center;
    background-color: var(--first-color);
    bottom: 1rem;
    column-gap: .5rem;
    display: flex;
    padding: 1.5rem 1rem;
    position: absolute;
    right: 0;
    width: 228px;
}

.home__info-title {
    display: block;
    font-size: var(--small-font-size);
    font-weight: var(--font-semi-bold);
    margin-bottom: var(--mb-0-75);
}

.home__info-button {
    font-size: var(--smaller-font-size);
}

.home__info-overlay {
    overflow: var(--img-hidden);
}

.home__info-img {
    width: 145px;
    transition: var(--img-transition);
}

.home__info-img:hover {
    transform: var(--img-scale);
}