.place__card, .place__img {
    height: 230px;
}

.place__container {
    grid-template-columns: repeat(2, max-content);
    justify-content: center;
}

.place__card {
    position: relative;
    overflow: var(--img-hidden);
}

.place__card:hover .place__img {
    transform: var(--img-scale);
}

.place__img {
    transition: var(--img-transition);
}

.place__content, .place__title {
    color: var(--white-color);
}

.place__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: .75rem .75rem 1rem;
}

.place__rating {
    align-self: flex-end;
    display: flex;
    align-items: center;
}

.place__rating-icon {
    font-size: .75rem;
    margin-right: var(--mb-0-25);
}

.place__rating-number {
    font-size: var(--small-font-size);
}

.place__subtitle, .place__price {
    display: block;
}

.place__title {
    font-size: var(--h3-font-size);
    margin-bottom: var(--mb-0-25);
}

.place__subtitle {
    font-size: var(--smaller-font-size);
    margin-bottom: var(--mb-1-25);
}

.place__button {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: .75rem 1rem;
}