.subscribe__bg {
    background-color: var(--first-color-second);
    padding: 2.5rem 0;
}

.subscribe__title, 
.subscribe__description {
    color: var(--white-color);
}

.subscribe__description {
    text-align: center;
    margin-bottom: var(--mb-2-5);
}

.subscribe__form {
    background-color: var(--input-color);
    padding: .5rem;
    display: flex;
    justify-content: space-between;
}

.subscribe__input {
    width: 70%;
    padding-right: .5rem;
    background-color: var(--input-color);
    color: var(--text-color);
}

.subscribe__input::placeholder {
    color: var(--text-color);
}
